.headDiv {
    background-color: rgba(2, 43, 6, 0.993);
    width: 100%;

}

.headBar {
    padding: "0.5rem 1rem";
    cursor: pointer;
    font-size: 0.9rem;
    border: none;
    width: 20%;
    margin: 1%;
}