.headDiv {
    background-color: rgba(2, 43, 6, 0.993);
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

.headBar {
    padding: "0.5rem 1rem";
    cursor: pointer;
    font-size: 0.9rem;
    border: none;
    width: 20%;
    margin: 1%;

}